/* Import fonts */
@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

a {
	text-decoration : none;
	color : inherit;
}
html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Base Styles */

.cf:before,
.cf:after {
	content: " "; 
	display: table;
}

.cf:after {
	clear: both;
}

.hidden {
	visibility: hidden;
}

 /*Set the overall style of the entire document */

html {
	background-image : url(../images/spbg3.jpg);
	min-height : 100%;
	height : auto;
	background-attachment : fixed;
	background-position : center
}

body {
	font-family : Helvetica, sans-serif;
	font-size : 1.4rem;
	color : rgba(17, 49, 112, 0.9)
}

main {
	background-color : rgba(221, 221, 221, 0.65);
	width: 80%;
	padding : 10px 20px;
	min-width : 310px;
	max-width : 720px;
	margin : 0 auto;
	border-radius : 7px;
	text-align : center;
	-webkit-box-shadow: 0px 0px 6px 1px #ccc;
}

input {
	border-radius : 4px;
	display : inline-block;
	width : 100%;
	background-color : rgba(64, 64, 64, .45);
	padding : 10px 0px 10px 25px;
	margin : 4px;
	font-size : 1.1rem;
	color : rgba(255, 255, 255, 0.9)
}

/*NAV BAR STYLING*/
nav {
	width : 100%;
	background-color : rgba(221, 221, 221, 0.65);
	-webkit-box-shadow: 0px 0px 6px 1px #ccc;
}

nav .nav-table {
	display : table;
	margin : 0 auto;
}

nav ul {
	width : 100%;
	margin : 0 auto;
}

nav ul li {
	float: left;
	color : rgba(17, 49, 112, 0.9);
	font-family : Helvetica, sans-serif;

}

nav ul li a {
	text-decoration : none;
	float : left;
	padding : 10px 20px;
	font-size : 1.5rem;
}

nav ul li a:hover {
	color : rgba(255, 255, 255, 0.9);
	border-radius : 10px;
}

	/*CHAT*/

.avatar {
	width : 20px;
	height: 20px;
	border-radius: 7px;
}

.avatar:hover {
	width: 50px;
	height: 50px;
}

	/*PROFILE*/

.prof-pic {
	float: left;
	border-radius : 10px;
}

.profile-userName {
	float: left;
}

.profile-edit {
	float: right;
}


	/*MEETUP*/

.mountain {
	font-size: 1.8rem;
	color : aliceblue;
}

.zones {
	font-size: 1.4rem;
}
	
.checkout:hover {
	cursor : pointer; cursor : hand;
}

























