<!DOCTYPE html>
<html lang="en" ng-app="snowyPlayground">
<head>
	<meta charset="UTF-8">
	<title>Snowy Playground!!</title>
	<link href="css/style.css" type="text/css" rel="stylesheet"/>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
	<div class="page">
		<header>
			<nav class="nav">
				<div class="nav-table" ng-controller="RegistrationCtrl">
					<ul>
						<li ng-show="!currentUser"><a ng-href="#/login">Login</a></li>
						<li ng-show="!currentUser"><a ng-href="#/register">Register</a></li>
						<li><a ng-href="#/chat">Chat</a></li>
						<li><a ng-href="#/profile">Profile</a></li>
						<li><a ng-href="#/meetup">Meetup</a></li>
						<li><a ng-href="#/otherUsers">Users</a></li>
						<li ng-show="currentUser"><a ng-click="logout()">Logout</a></li>

					</ul>
				</div> <!--End class="nav-table" ngctrl-RegisCtrl-->
			</nav>
		</header>	
				<div class="checkedInStatus" ng-show="currentUser.checkedIn">You are checked into {{currentUser.checkedInZoneHuman}} as a {{currentUser.checkedInAs}}<span ng-controller="CheckoutCtrl" ng-click="checkout(currentUser.checkedInKey)"> checkout</span></div>
		<main class="content" ng-view>

		</main>
	
	</div> <!--End class="page"-->




	<!--ANGULAR-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
	
	<!--Angular Extras-->
<script src="https://code.angularjs.org/1.3.16/angular-route.js"></script>
	
	<!--FIREBASE AND ANGULARFIRE-->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

	<!--SNOWY PLAYGROUND XD-->
	<script src="app/app.js"></script>
	<script src="app/user/RegistrationCtrl.js"></script>
	<script src="app/user/RegistrationService.js"></script>
	<script src="app/home/HomeCtrl.js"></script>
	<script src="app/profile/ProfileCtrl.js"></script>
	<script src="app/profile/ProfileService.js"></script>
	<script src="app/vidEdits/EditsCtrl.js"></script>
	<script src="app/chat/ChatCtrl.js"></script>
	<script src="app/chat/ChatService.js"></script>
	<script src="app/profile/previewFile.js"></script>
	<script src="app/meetup/MeetupCtrl.js"></script>
	<script src="app/meetup/MeetupService.js"></script>
	<script src="app/meetup/CheckinCtrl.js"></script>
	<script src="app/meetup/CheckoutCtrl.js"></script>
	<script src="app/meetup/CountCtrl.js"></script>
	<script src="app/otherUsers/OtherUsersCtrl.js"></script>
	<script src="app/otherUsers/OtherUsersProfileCtrl.js"></script>
	
</body>
</html>