{{chatTest}}


<div class="content" ng-show="!currentUser">
	<h1>Please <a ng-href="#/register">register</a> or <a ng-href="#/login">login</a> to chat</h1>
</div>

<div class="content" ng-show="currentUser">


	<h1> Hello, {{currentUser.firstName}} </h1>
	
	
	<div class="messages">
		<div class="message" ng-repeat="(key, message) in messages">{{message.message}}
		<span class="said-by"> said by <img alt="Placeholder" class="avatar" ng-src="{{message.userPic}}"> {{message.user}} </span>
		</div>
	</div> 
	
	
	<input type="text" class="add-message" placeholder="add a new message" ng-model="message.text" />
	<button class="btn add-message" ng-click="addMessage()">add message</button>
	
</div> <!--end content-->