<div class="plz-login" ng-show="!currentUser">
	<h1>Please <a ng-href="#/register">register</a> or <a ng-href="#/login">login</a> to check in!</h1>
</div>

<div class="noCheckIns" ng-show="!checkedInUsers">No one's active here right now.  Checkin and set the trend!</div>

<section class="checkinsList cf">
	<div ng-repeat="(key, checkedInUser) in checkedInUsers">
	<span class="userNameLink"><a href="" ng-href="#/otherUsers/{{checkedInUser.id}}/profile">
	{{checkedInUser.firstName}} {{checkedInUser.lastName}}	
	</a></span>
	
	 ({{checkedInUser.userName}}) as a {{checkedInUser.as}}
	<br> 
	<span class="checkinSpecific" ng-show="checkedInUser.asSpecific">({{checkedInUser.asSpecific}})</span>
	
	<div class="checkin-time">checked in at {{checkedInUser.checkedInAt | date : "h:mm a"}}</div>
	<br>
	</div>
	
	<form name="checkinForm" novalidate>
			<select class="profile-whatDo" ng-model="checkin.whatDo">
		<option value="">What are you doing today?</option>	
		<option value="Skier">Ski</option>	
		<option value="Snowboarder">Snowboard</option>	
		<option value="Filmer">Film</option>	
		<option value="Skier and Filmer">Ski and Film</option>	
		<option value="Rider and Filmer">Ride and Film</option>	
		<option value="Ski Ride and Film">I do it all, baby!</option>	
	</select>
		
		<input type="text" class="doinWhat" ng-show="checkin.whatDo" ng-model="checkin.doinWhat" placeholder="anything in mind?">
		
		<button class="checkinBtn" ng-click="addCheckin()">check in!</button>
		
		
	</form>
	
			<div class="checkedInError" ng-show="checkedInError">You can only be checked in to one zone at a time.  Please checkout first</div>
	
			<button>
			<a class="btn checkin" ng-href="#/meetup">Check out the other zones</a>
		</button>
	
</section>