<div class="plz-login" ng-show="!currentUser">
	<h1>Please <a ng-href="#/register">register</a> or <a ng-href="#/login">login</a> to link up!</h1>
</div>

<!--<div class="content" ng-init="getMountains()">
	<div class="mountains">
		<h1 class="mountain" ng-repeat="(key, mountain) in mountains">{{mountain.name}}
			<div class="zones" ng-repeat="(key, zones) in mountain">
				<div ng-repeat="(key, zone) in zones">	{{zone}}</div>
			</div>
		</h1>
	</div>
</div>-->


<div class="content" ng-init="getAndStoreMountains">

	<!--HEAVENLY-->
	<div class="mountains">
		<div class="mountain">{{heavenly.name}} 
		</div>  <!--Heav Title-->
		<div class="zones" ng-repeat="(key, zone) in heavenly.zones">{{zone.name}}
		
		<button>
			<a class="btn checkin" ng-href="#/checkin/{{heavenly.$id}}/{{key}}">check in!</a>
		</button>		
		<button>
			<a class="btn checkin" ng-href="#/checkin/{{heavenly.$id}}/{{key}}/checkinsList">See who's here</a>
		</button>
		
		</div>	<!--Heav Zones-->

	</div>  <!--end Heav-->
	
	<!--KIRKWOOD-->
	<div class="mountains">
		<div class="mountain">{{kirkwood.name}} 
		</div>  <!--Kirky Title-->
		<div class="zones" ng-repeat="(key, zone) in kirkwood.zones">{{zone.name}}
		</div>	<!--Kirky Zones-->
	</div>  <!--end Kirky-->
	
	
	
	
</div>  <!--end content-->
