<!--IF NO USER IS LOGGED IN-->
<div class="content" ng-show="!currentUser">
	<h1>Please <a ng-href="#/register">register</a> or <a ng-href="#/login">login</a> to view a profile</h1>
</div>


<div class="usersList" ng-show="currentUser">
	<div>
		<ul ng-repeat="user in users | orderBy: '-checkedIn'">
			<li class="users"><a class="usersA" ng-href="#/otherUsers/{{user.$id}}/profile"><span id="checkedInSymbol" ng-model="currentlyCheckedIn" ng-show="user.checkedIn">*..*</span>{{user.firstName}} {{user.lastName}}  <span class="userName" ng-show="user.userName">({{user.userName}})</span> </a></li>
		</ul>
	</div>
</div>